# Dépendances
node_modules/
vendor/

# Fichiers de configuration locale
.env
.env.local
.env.*.local

# Fichiers de build
dist/
build/
public/build/
public/hot

# Logs
*.log
npm-debug.log*
storage/*.key

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Base de données locale
*.sqlite
*.sql

# Fichiers temporaires
*.tmp
.temp/
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*